body {
  height: 100vh;
  min-height: 800px;
  overflow-y: hidden;
}

.container {
  max-width: 480px;
}

.pages {
  background: rgba(255, 0, 0, 0.1);
  height: 456px;
  position: relative;
}

.page {
  height: 456px;
  position: absolute;
  width: 100%;
}